__pycache__/
output/
data/hcpYA_sample/
data/subjects/
data/newdata/
.DS_Store
temp
data/simulation/
abstract/
results_fullyprob/
sbiS2/
b_results.json
mppca/
gradients_stanford_masked.nii.gz
gradients_stanford_normalized.nii.gz
gradients_stanford.nii.gz
gradients.nii.gz
toview
data/train_signal.pt
data/bvec.txt
data/bval.txt
data/mask.nii.gz
data/signal.nii.gz
data/train_signal_noise.pt
data/gt_odfs.pt
data/gt_gfa.nii.gz
data/gt_dti.nii.gz
